/*Website Theme*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Dirt&display=swap');
:root {
    --gradient: linear-gradient(to right, var(--light), #f9f5fe);
    --light: rgba(58,12,163,0.2);
    --dark: #3A0CA3;
}
.active {
  color: var(--dark) !important;
  background: transparent!important;
}
.navbar {
    background: #ffffff;
    box-shadow: 0
        2px
        5px
        rgba(
            0,
            0,
            0,
            0.1
        ); /* Subtle Shadow */
    color: #4a4a4a;
    font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}
.modal-content {
  font-family: "Poppins", serif;
}
.modal-content .modal-header {
  border-bottom: 1px solid var(--light);
}
.modal-content .modal-footer {
  border-top: 1px solid var(--light);
}
.modal-content .modal-header .modal-title {
  font-weight: 600;
  font-style: bold;
  font-size: 18px;
}
.modal-content .modal-header .modal-body {
  font-weight: 500;
  font-style: bold;
  font-size: 16px;
}
.navbar
    a:hover {
    color: var(
        --dark
    );
}
.navbar-brand {
  font-size: 28px;
  color: var(--dark);
  position: relative;
  display: inline-block;
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1px;
}
.navbar-brand:after {
  content: "";
   position: absolute;
   width: 20px;
   height: 20px;
   left: 21.5px;
   bottom: 14px;
   border-radius: 50%;
   background: radial-gradient(farthest-side,#333 94%,#0000) top/9px 9px no-repeat,
          conic-gradient(#0000 30%,#333);
   -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 0);
   animation: brandAnim 1s infinite linear;
}

@keyframes brandAnim {
   100% {
      transform: rotate(1turn);
   }
}
.active {
    color: var(
        --dark
    ) !important;
}
.beta {
  background: var(--light);
  color: var(--dark);
  padding: 2px 4px;
  border-radius: 2px;
}
.navbar-toggler {
    color: var(
        --light
    );
}
.dropdown-item:hover,
.dropdown-item:focus {
    background: var(
        --light
    );
}

.hero-section {
    background: var(
        --gradient
    );
    color: #333;
    padding: 100px
        0;
    text-align: center;
}
.hero-section
    h1 {
    font-size: 3rem;
    font-weight: bold;
    font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}
.hero-section
    p {
    font-size: 1.25rem;
    margin: 20px
        0;
        font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}
.hero-section
    .btn-primary {
    font-size: 1.1rem;
    padding: 10px
        30px;
        font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}
.hero-image {
    width: 100%;
    height: auto;
}
text {
    font-size: 10px;
    fill: #4a4a4a;
    font-family: "Poppins", serif;
  font-weight: 200;
  font-style: normal;
}
text#first-text {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;;
    fill: var(
        --dark
    );
    font-size: 11px;
}
.our-service-section {
    background: var(
        --gradient
    );
    font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}
.our-service-section
    .service-icon {
    background-color: var(
        --light
    );
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 50%;
    display: inline-block;
}
.bi {
    color: var(
        --dark
    ) !important;
}

.contact-section {
    background: var(
        --gradient
    );
    font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}
.contact-section
    h2 {
    font-size: 2.5rem;
    color: #333;
}
.contact-section
    .form-label {
    font-size: 1.1rem;
    color: #555;
}
.contact-section
    .form-control {
    border: 1px
        solid
        #ddd;
    transition: all
        0.3s
        ease;
}
.contact-section
    .form-control:focus {
    border-color: var(
        --dark
    );
    box-shadow: 0
        0
        8px
        var(
            --light
        );
}
 .btn-primary {
    background: var(
        --dark
    );
    border: none;
    transition: background
        0.3s
        ease;
}
.btn-primary:active {
  background: transparent !important;
  border: 1px solid var(--dark) !important;
  color: var(--dark) !important;
}
 .btn-primary:hover {
    background: transparent;
    border: 1px
        solid
        var(
            --dark
        );
    color: var(
        --dark
    );
}
.footer {
    background: linear-gradient(
        to
            top,
        #121212,
        #1c1c1c
    );
    font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}
.footer
    h5 {
    font-size: 1.5rem;
}
.footer
    a {
    text-decoration: none;
    font-size: 1.2rem;
    transition: color
        0.3s
        ease;
}
footer .small {
    color: #b3b3b3;
    font-size: 12px;
}
.footer
    a:hover {
    color: var(
        --dark
    ) !important;
}
/* From Uiverse.io by zjssun */
.button {
    position: relative;
    padding: 10px
        22px;
    border-radius: 6px;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: var(
        --dark
    );
    transition: all
        0.2s
        ease;
    text-decoration: none;
}

.button:active {
    transform: scale(
        0.96
    );
}

.button:before,
.button:after {
    position: absolute;
    content: "";
    width: 150%;
    left: 50%;
    height: 100%;
    transform: translateX(
        -50%
    );
    z-index: -1000;
    background-repeat: no-repeat;
}

.button:hover:before {
    top: -70%;
    background-image: radial-gradient(
            circle,
            var(
                    --dark
                )
                20%,
            transparent
                20%
        ),
        radial-gradient(
            circle,
            transparent
                20%,
            var(
                    --dark
                )
                20%,
            transparent
                30%
        ),
        radial-gradient(
            circle,
            var(
                    --dark
                )
                20%,
            transparent
                20%
        ),
        radial-gradient(
            circle,
            var(
                    --dark
                )
                20%,
            transparent
                20%
        ),
        radial-gradient(
            circle,
            transparent
                10%,
            var(
                    --dark
                )
                15%,
            transparent
                20%
        ),
        radial-gradient(
            circle,
            var(
                    --dark
                )
                20%,
            transparent
                20%
        ),
        radial-gradient(
            circle,
            var(
                    --dark
                )
                20%,
            transparent
                20%
        ),
        radial-gradient(
            circle,
            var(
                    --dark
                )
                20%,
            transparent
                20%
        ),
        radial-gradient(
            circle,
            var(
                    --dark
                )
                20%,
            transparent
                20%
        );
    background-size:
        10%
            10%,
        20%
            20%,
        15%
            15%,
        20%
            20%,
        18%
            18%,
        10%
            10%,
        15%
            15%,
        10%
            10%,
        18%
            18%;
    background-position: 50%
        120%;
    animation: greentopBubbles
        0.6s
        ease;
}

@keyframes greentopBubbles {
    0% {
        background-position:
            5%
                90%,
            10%
                90%,
            10%
                90%,
            15%
                90%,
            25%
                90%,
            25%
                90%,
            40%
                90%,
            55%
                90%,
            70%
                90%;
    }

    50% {
        background-position:
            0%
                80%,
            0%
                20%,
            10%
                40%,
            20%
                0%,
            30%
                30%,
            22%
                50%,
            50%
                50%,
            65%
                20%,
            90%
                30%;
    }

    100% {
        background-position:
            0%
                70%,
            0%
                10%,
            10%
                30%,
            20% -10%,
            30%
                20%,
            22%
                40%,
            50%
                40%,
            65%
                10%,
            90%
                20%;
        background-size:
            0%
                0%,
            0%
                0%,
            0%
                0%,
            0%
                0%,
            0%
                0%,
            0%
                0%;
    }
}

.button:hover::after {
    bottom: -70%;
    background-image: radial-gradient(
            circle,
            var(
                    --dark
                )
                20%,
            transparent
                20%
        ),
        radial-gradient(
            circle,
            var(
                    --dark
                )
                20%,
            transparent
                20%
        ),
        radial-gradient(
            circle,
            transparent
                10%,
            var(
                    --dark
                )
                15%,
            transparent
                20%
        ),
        radial-gradient(
            circle,
            var(
                    --dark
                )
                20%,
            transparent
                20%
        ),
        radial-gradient(
            circle,
            var(
                    --dark
                )
                20%,
            transparent
                20%
        ),
        radial-gradient(
            circle,
            var(
                    --dark
                )
                20%,
            transparent
                20%
        ),
        radial-gradient(
            circle,
            var(
                    --dark
                )
                20%,
            transparent
                20%
        );
    background-size:
        15%
            15%,
        20%
            20%,
        18%
            18%,
        20%
            20%,
        15%
            15%,
        20%
            20%,
        18%
            18%;
    background-position: 50%
        0%;
    animation: greenbottomBubbles
        0.6s
        ease;
}

@keyframes greenbottomBubbles {
    0% {
        background-position:
            10% -10%,
            30%
                10%,
            55% -10%,
            70% -10%,
            85% -10%,
            70% -10%,
            70%
                0%;
    }

    50% {
        background-position:
            0%
                80%,
            20%
                80%,
            45%
                60%,
            60%
                100%,
            75%
                70%,
            95%
                60%,
            105%
                0%;
    }

    100% {
        background-position:
            0%
                90%,
            20%
                90%,
            45%
                70%,
            60%
                110%,
            75%
                80%,
            95%
                70%,
            110%
                10%;
        background-size:
            0%
                0%,
            0%
                0%,
            0%
                0%,
            0%
                0%,
            0%
                0%,
            0%
                0%;
    }
}
/* Shimmer Effect */
.shimmer {
    background: linear-gradient(
        90deg,
        #f0f0f0
            25%,
        #e0e0e0
            50%,
        #f0f0f0
            75%
    );
    background-size: 200%
        100%;
    animation: shimmer
        1.5s
        infinite;
    color: transparent;
    border-radius: 4px;
    display: inline-block;
}

/* Shimmer Titles */
.shimmer-title {
    height: 1.5em;
    width: 60%;
    margin: 1em
        auto;
}

/* Shimmer Text */
.shimmer-text {
    height: 1em;
    width: 80%;
    margin: 0.5em
        auto;
}
.shimmer-button {
    height: 1.5em;
    width: 40%;
    margin: 1em
        auto;
}
/* Shimmer Keyframes */
@keyframes shimmer {
    0% {
        background-position: 200%
            0;
    }
    100% {
        background-position: -200%
            0;
    }
}